
body, input,button
{

  font-family: 'Roboto', sans-serif;

}
body
{
  background: url("http://i.imgur.com/JlU5zJO.jpg");
  background-size:cover;
  padding: 90px 0 0 0;
}
header
{
width:82%;
height:60px;
position:fixed;
padding: 20px;
top:0;
margin-top: 10px;
margin-left: 60px;


left:0;
z-index:5;

background:#151b54;
border-bottom-right-radius:30px;
border-bottom-left-radius:30px;
border-top-left-radius:30px;
border-top-right-radius:30px;
box-shadow:0px 2px 4px rgba(44,62,80,0.15);
}
header input
{
width:100%;
height:50px;
float:left;
font-size: 20px;
font-weight: 400;
padding: 0 60px 0 0;
text-indent: 18px;
color: #fff;
background:rgba(255,255,255,0.2);
border-radius:10px;
border:0px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
border-top-left-radius: 14px;
border-bottom-left-radius: 14px;

box-shadow:none;
outline:none;
appearance:none;
-webkit-appearance:none;
-moz-appearance:none;
-ms-appearance:none;

}
header input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.75);
}
header button
{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  cursor: pointer;
  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  right: 20px;
  z-index: 2;
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
}
header button svg
{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 48%;
  left: 48%;
  margin: -8px 0 0 -8px;
}
header button svg .fill
{
fill: #151b54;
}
.container
{
  width:95%;
  float: left;

  padding: 15px;

}
ul.todo{
  width: 95%;
  float: left;
  list-style: none;
}
ul.todo li
{
  width: 85%;
  height: auto;
  font-size: 16px;
  font-weight: 500;
  color: #151b54;
  line-height: 22px;
  float: left;
  background: #fff;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(44,62,80,0.10);
  margin-bottom: 10px;
  padding: 16px 100px 16px 18px;
}
ul.todo li:last-of-type
{
  margin: 0;
}
ul.todo li .buttons
{
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
ul.todo li .buttons button
{
  width: 50px;
  height: 50px;
  float: left;
  background: #fff;
  position: relative;
  cursor: pointer;
  border: 0px;
  box-shadow: none;
  outline: none;
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
}
ul.todo li .buttons button:last-of-type:before
{
  content:'';
  width: 1px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 0px;
  background: #c3c3c3;
}
ul.todo li .buttons button svg {
	width: 22px;
	height:22px;
	position: absolute;
	top:50%;
	left: 50%;
	margin:-11px 0 0 -11px;
}

ul.todo li .buttons button.remove svg .fill {
	fill:#656d66;
}
ul.todo li .buttons button.complete svg .fill {
	fill:#25b99a;
}

ul.todo li .buttons button.remove:hover svg .fill {
 fill: #e20313;
}
ul.todo li .buttons button.complete:hover svg .fill {
 fill: #000;
}
ul.todo li .buttons button .complete svg {
	border-radius: 25px;
	border:2px solid #5e549e;
}
ul.todo#completed li .buttons button.complete svg .fill {
	fill:#fff;
}
ul.todo#completed li .buttons button.complete svg {
	background:#25b99a;
	border:3px;
	border-radius: 10px;
}
ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
	fill:#fff;
}
ul.todo:not(#completed) li .buttons button.complete:hover svg
{
  background: rgba(37,185,154, 0.75);
  border-radius: 15px;
}
ul.todo#completed:not(:empty){
	position: relative;
	padding-top: 60px;
}

ul.todo#completed:not(:empty):before {
	content:'';
	width: 200px;
	height: 1px;
	background: #d8e5e0;
	position: absolute;
	top: 30px;
	left: 48%;
	margin: 0  0 0 -75px;

}
